body{
	padding: 1%;
	margin: 1%;
	margin: 0 auto;
	border-style: double;
	background-color: #FDEBD0;
}
header{
	-webkit-background: linear-gradient(#6E2C00,#9A7D0A);
	-moz-background: linear-gradient(#6E2C00,#9A7D0A);
	-o-background: linear-gradient(#6E2C00,#9A7D0A);
	background: linear-gradient(#6E2C00,#9A7D0A);
	background-image: url("../images/headerbg.jpg");
	height: 40%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	color: #FDFEFE ;
	font-family: Arial;
	padding: 5%;
}
p{
	font-size: 120%;
}
h1{
	font-family: "Times New Roman", Arial, Helvetica;
	font-variant: small-caps;
	padding: 2%;
}
nav a{
	display: inline-block;
	width: 16%;
	height: 20%;
	text-decoration: none;
	border-color: #641E16;
	border: 2px;
	padding: 2%;
	background-color: #FFFFFF;
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	-o-border-radius: 3;
	border-radius: 5px;
	margin: 2%;
	text-align: center;
	vertical-align: middle;
	color: #CD6155;
}
a:hover{
	background-color: #FAD7A0;
}
.active{
	background-color: #7B241C;
}
div{
	display: block;
	width: 90%;
	border: 5px;
	margin: 0 auto;
	color: #4A235A;
	border-color: #6E2C00;
	border: solid 5px;
	padding: 2%;
	margin: 2%;
	background-color: #FAD7A0;
}
div img{
	width: 100%;
	height: auto;
}
div img:hover{
	opacity: 0.5;
	filter: grayscale(100%);
}
img{
	width: 45%;
	float: left;
	margin: 2%;
	border : 5px solid #000000 ;
	border-spacing: 2px;
}
#mage{
	display : block;
	clear : both;
	background-color: #FAD7A0;
	width: 90%;
	vertical-align: middle;
	text-align: center;
}
#mage img{
	display: inline-block;
	margin: 1%;
	width: 30%;
	border : 5px solid #000000 ;
}
p{
	font-size: 120%;
}
@media screen and (min-width: 760px)
{
	div{
		display: inline-block;
		width: 41%;
		padding: 2%;
		margin: 2%;
		float: left;
	}
}
h2{
	color: #6E2C00;
	text-align: center;
}
button{
	background-color: #F9E79F;
	border-radius: 5px;
	padding: 1%;
}
button a{
	text-decoration: none;
	font-style: italic;
	color: #A93226;
}
footer{
	clear: both;
	text-align: center;
	-webkit-background: linear-gradient(#6E2C00,#9A7D0A);
	-moz-background: linear-gradient(#6E2C00,#9A7D0A);
	-o-background: linear-gradient(#6E2C00,#9A7D0A);
	background: linear-gradient(#6E2C00,#9A7D0A);
	color: #FFFFFF;
	padding: 2%;
}